@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <title>Admin Panel css html</title>




    <link rel="stylesheet" href="ad/style.css">




</head>

<body>

    <div id="header">
        <div class="logo">
        </div>

    </div>


    <a class="mobile">MENU</a>


    <div id="container">

        <div class="sidebar">
            <ul id="nav">
                <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span>
                    <a class="selected" href="#">MENU</a>
                </li>
                <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a href="#">ADD CATEGORY</a>
                </li>

                <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a href="https://localhost:5001/Home/Addproduct">ADD PRODUCT</a>
                </li>

                 <li>
                <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a href="#">DEALS</a>
                </li>

                 <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a  href="#">SEASONAL PRODUCT</a>
                </li>
                 <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a  href="#">CUSTOMER </a>
                </li>
                 <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a href="#">VIEW ORDER</a>
                </li>
                 <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a href="#">VIEW PAYMENT</a>
                </li>
                 <li>
                    <span>
          <img src="https://images.prod.meredith.com/product/2f67ed333cb204caa67f00d8056d8bd5/1565928056294/l/a-bunch-of-fresh-chives-and-vegetables-over-white-framed-art-print-scoop-black-vat-0-x-small-by-klenova" width="32" height="32" >
        </span><a href="#">LOGOUT</a>
                </li>

            </ul>
            

        </div>

        


    </div>
    <!-- #container -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="js/index.js"></script>






</body>

